--- yaml
layout: 'default'
title: 'Home'
---

// Main hero unit for a primary marketing message or call to action.
.hero-unit
  h2 DSpace-NG @ Elevate Festival
  p: :markdown
    Prototype of **distributed system for real time, geoaware collaboration**. We deploy it here for ["Graz, Open City?"](http://2013.elevate.at/en/e13graz/) event, organized as part of [Elevate Festival](https://2013.elevate.at).

    Fully **Libre Software** framework *(: Free & Open Source :)*, built as set of reusable components, with interoperability in mind *(: currently **under heavy development** :)*. Please check out complete [source code](https://github.com/dspace-ng) and feel very welcomed to **contribute** to this development *(: we prefer [#moneyless](http://hackers4peace.net/manifesto#7) ways of supporting! -- just see our [#wishlist](https://github.com/dspace-ng/dspace-api-core/wiki/wishlist) and get in touch... :)*

    Name **DSpace** inspired by technology called this way in novels [Daemon](http://www.thedaemon.com/daemonsynopsis.html) and [FreedomTM](http://www.thedaemon.com/freedomtmsynopsis.html) *by Daniel Suarez*


// Example row of columns.
.row
  h2 Slim interfaces
  .span4
    h3 Action
    p Interface optimised for mobile devices for activities in the field
    p: a.btn.btn-success(href="https://dspace.elevate.at/action/") Launch
  .span4
    h3 HQ
    p Interface for visualizing all the activities in real time, preferably used on projector
    p: a.btn.btn-success(href="https://dspace.elevate.at/hq/") Launch
  .span4
    h3 Operator
    p Interface for participating in activities remotely from laptop / desktop
    p: a.btn.btn-warning(href="https://github.com/dspace-ng/dspace-dist-slim-operator") Help developing...
.row
  h2 Apollo-NG interface
  p Experimental, responsible interface with emphasis on visual harmony...
  p: a.btn.btn-warning(href="https://github.com/apollo-ng/dspace-dist-apollo-ng") Help developing...
.row
  h2 Roll your own interfaces!
  p We work on set of components which you can use to develop an interface out of your dreams...
  p: a.btn.btn-primary(href="https://github.com/dspace-ng") Start hacking now!
