--- yaml
layout: 'default'
title: 'Home'
---

// Main hero unit for a primary marketing message or call to action.
.hero-unit
  h2 DSpace-NG @ Elevate Festival
  p: :markdown
    Prototype of **distributed system for real time, geoaware collaboration**. We deploy it here for ["Graz, Open City?"](http://2013.elevate.at/en/e13graz/) event, organized as part of [Elevate Festival](https://2013.elevate.at).

    Fully **Libre Software** framework *(: Free & Open Source :)*, built as set of reusable components, with interoperability in mind *(: currently **under heavy development** :)*. Please check out complete [source code](https://github.com/dspace-ng) and feel very welcomed to **contribute** to this development *(: we prefer [#moneyless](http://hackers4peace.net/manifesto#7) ways of supporting! -- just see our [#wishlist](https://github.com/dspace-ng/dspace-api-core/wiki/wishlist) and get in touch... :)*


// Example row of columns.
.row
  .span4
    h3 Funky Mobile
    p Interface optimised for mobile devices with pinch of funkiness...
    p: a.btn(href="https://mobile.dspace.elevate.at") Launch
  .span4
    h3 Cozy HQ
    p Interface for visualizing all the activities in real time, preferably used on projector...
    p: a.btn(href="https://hq.dspace.elevate.at") Launch
  .span4
    h3 Home Grown
    p Interface for participating in activities remotely from laptop / desktop sitting comfortably on a couch...
    p: a.btn(href="https://github.com/dspace-ng/dspace-dist-home-grown") Help developing...
.row
  .span4
    h3 Apollo-NG
    p Experimental interface with emphasis on visual harmony...
    p: a.btn(href="https://github.com/apollo-ng/dspace-dist-apollo-ng") Help developing...
  .span4
    h3 Roll your own!
    p We work on set of components which you can use to develop an interface out of your dreams...
    p: a.btn(href="https://github.com/dspace-ng") Start hacking now!
